console/console

*.o
*.a
sat
sbc
console/*.o
mySimpleComputer/*.o
myTerm/*.o
myReadKey/*.o
myBigChars/*.o

mySimpleComputer/libmySimpleComputer.a
myTerm/libmyTerm.a
myBigChars/libmyBigChars.a
myReadKey/libmyReadkey.a
console/font.c

.vscode/
.idea/
*.swp
.DS_Store