# Исполняемые файлы
console/console

# Объектные файлы
*.o
*.a
sat
sbc
console/*.o
mySimpleComputer/*.o
myTerm/*.o
myReadKey/*.o
myBigChars/*.o

# Статические библиотеки
mySimpleComputer/libmySimpleComputer.a
myTerm/libmyTerm.a
myBigChars/libmyBigChars.a
myReadKey/libmyReadkey.a
console/font.c

# Editors and System
.vscode/
.idea/
*.swp
.DS_Store